# Local IDE configurations when running from sources/tests/ant
/system/
/config/
/tmpsettings/
/build/system/
/build/config/

# Local agent memory and setup
/.claude/settings.local.json
.mcp.json

# Test results from local test run (ant)
/TEST-*

# idea integration plugin artifact
/plugins/mps-idea-integration/IDEAPlugin/mps-idea-integration-plugin.jar

# MacOS user UI setting related file
.DS_Store

# Intellij Idea user workspace setting files
**/.idea/workspace.xml
**/.mps/workspace.xml
**/.mps/product-workspace.xml
/build/solution/.idea/workspace.xml
/MPSPlugin/.idea/workspace.xml

# Local user commits
**/.idea/shelf
**/.mps/shelf

# Build artifacts
/workbench/mps-workbench/source/META-INF/MPSPlugin.xml
/MPSPlugin/apiclasses
/build/tmp/
/contrib/build/tmp/
/build/artifacts/
/contrib/build/artifacts/
/build/resources/help/
/build/resources/JDK/
/build/resources/openJDK
classes
classes_gen
testclasses
kotlin_compiled_cache.xml
teamcity-info.xml
*.hprof
*.class

# Plugins related excludes:
# Downloadable plugin libraries
/plugins/mps-kotlin/lib
/plugins/debugger-api/lib
/plugins/debugger-java/lib
/plugins/dev/lib
/plugins/mps-vcs/lib/
/plugins/mps-java/lib/
/plugins/mps-java-workbench/lib/
/plugins/execution-languages/lib
/plugins/execution-configurations/lib
/plugins/jetpad/lib
/plugins/jetpad/lib/*.war
/plugins/jetpad/lib/jetpadBuildNumber.txt
/plugins/mps-junit5/lib
/plugins/mps-migration/migration-platform/lib
# Platform bundled plugins
# (in the same order as in the MPSProperties.groovy to simplify maintaining)
/plugins/java
/plugins/java-ide-customization
/plugins/json
/plugins/copyright
/plugins/properties
/plugins/properties-resource-bundle-editor
/plugins/terminal
/plugins/emojipicker
/plugins/tasks
/plugins/vcs-git
/plugins/vcs-git-commit-modal
/plugins/vcs-svn
/plugins/vcs-github
/plugins/yaml
/plugins/ant
/plugins/sh-plugin
/plugins/markdown
/plugins/grazie
/plugins/space
/plugins/mcpserver
/plugins/grid-core-plugin/lib
/plugins/java-aetherDependencyResolver-plugin/lib
/plugins/libraries-misc-plugin/lib
/plugins/mermaid/lib
/plugins/platform-acp-plugin/lib
/plugins/platform-bookmarks-plugin/lib
/plugins/platform-execution-serviceView-plugin/lib
/plugins/platform-navbar-plugin/lib
/plugins/platform-recentFiles-plugin/lib
/plugins/platform-structuralSearch-plugin/lib
/plugins/platform-structureView-plugin/lib
/plugins/platform-testRunner-plugin/lib
/plugins/platform-todo-plugin/lib
# some default plugins (not mentioned in MPSProperties.groovy)
/plugins/platform-images
/plugins/mps-devkit/lib

# Main libraries folder: dependencies are downloaded before complilation with task 'install' from build/getDependencies.xml
/lib/

# Intellij Idea platform artifact, which is extracted to bin, build, lib & plugins folders
/mps-platform.zip
/mps-platform-provided.zip

# Kotlin compiler
/plugins/mps-kotlin/kotlinc

# Binary files, required for application startup (including Mac executable)
/bin/linux
/bin/mac
/bin/win
/build/resources/mps-mac-64
/build/resources/mps-mac-aarch64
/build/resources/mps-linux-64
/build/resources/mps-linux-aarch64
/build/resources/mps-win-64.exe
/build/resources/mps-win-aarch64.exe


# Path to log files which is overriden in run configuration to allow developers to see log output in run/debug console
/log/
/bin/.mps-caches/logs

# Versions of library dependecies required for platform (like Kotlin, JDK etc)
/build/dependencies

# scripts for mac signing
/build/tools/mac
